<a href="https://colab.research.google.com/github/Ayush7614/Soomvaar/blob/main/Finding-an-Outlier/Finding_an_Outlier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Finding an outlier

# Interquartile range

For any given list of values, follow these steps

Sort the values in ascending order

Find the first and the third quartile

The first quartile is the 25%

The second quartile is the 75%

Find the interquartile range, that is, the difference between the first 
quartile and the third quartile

Now multiply the interquartile range with 1.5

Add the multiplied value to the second quartile to find the upper bound, subtract the multiplied value to the first quartile to find the lower bound

Any value lower than the lower bound and any value higher than the upper bound are OUTLIERS

In [63]:
dataset = [i for i in range(1, 51)]

In [64]:
dataset.append(-1200)
dataset.append(5177)

In [65]:
dataset

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 -1200,
 5177]

In [66]:
dataset = sorted(dataset)

In [67]:
import numpy as np
quartile1, quartile2 = np.percentile(dataset, [25, 75])

In [68]:
print(quartile1, quartile2)

12.75 38.25

In [69]:
iqr_value = quartile2 - quartile1

In [70]:
iqr_value

25.5

In [71]:
upper_bound = quartile2 + (iqr_value * 1.5)
lower_bound = quartile1 - (iqr_value * 1.5)

In [72]:
print(upper_bound, lower_bound)

76.5 -25.5

In [73]:
outliers = [i for i in dataset if i > 76.5 or i < -25.5]

In [74]:
outliers

[-1200, 5177]